body {
    margin: 0;
    background-image: url("https://media.istockphoto.com/id/1090601642/vector/board-games-pattern.jpg?s=612x612&w=0&k=20&c=bH87hKP7fPIW7onNSmyLIayTG1H2mvUs5NmLZFgUTqI=");
}

h1 {
    display: block;
    padding: 8px;
    background-color: lightgreen;
    margin: 0;
    text-align: center;
}

.die {
    text-align: center;
    margin-top: 50px;
}

h2 {
    background-color: white;
    padding: 50px;
    opacity: 0.8;
    width: 400px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

div.die {
    font-size: 90px;
    height: 200px;
    width: 200px;
    border-style: solid;
    line-height: 200px;
    background-color: white;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-around; 
    margin: auto;
    width: 50%;
    border: none;
}

#dice-flex-container {
    height: 300px;
}

#button-flex-container {
    height: 50px;
    margin-bottom: 140px;
}

.flex-footer-container {
    display: flex;
    flex-direction:column;
    margin-top: auto;
    display: block;
    background-color: lightgreen;
    border: none;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh
}

#footer-name {
    font-size: 21px;
    font-weight: bold;
    padding-top: 15px;
    text-align: center;
}

footer > div > a {
    font-size: 18px;
    width: 30%;
}
